<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SMTPServer" value="DEADPOOL.lightsourcemanagement.com" />
    <add key="Port" value="25" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>